*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
#video{
       display: grid;
       grid-template-columns: 1fr;
       height: 100vh;
       overflow: hidden;
}
.video-player{
       background: black;
       width:100%;
       height:100%;
       object-fit: cover;
}
#user-2{
       display: none;
}
.smallFrame{
       position: fixed;
       top:20px;
       left:20px;
       height:200px;
       width:350px;
       border-radius: 5px;
       border:2px solid rgb(31, 161, 31);
       -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
       box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
       z-index: 999;
}
#controlls{
       position: fixed;
       bottom: 20px;
       left:50%;
       transform: translate(-50%);
       display: flex;
       gap: 1em;
}
.control-container img{
 width: 45px;
 height: 45px;
}

.control-container{
     padding: 20px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
@media screen and (max-width:600px) {
       .smallFrame{
           height: 80px;
           width: 120px;
       }

       .control-container img{
           height: 40px;
           width: 40px;
       }
}
@media screen and (max-width:100px) {
       .smallFrame{
           height: 140px;
           width: 280px;
       }

       .control-container img{
           height: 50px;
           width: 50px;
       }
}